
<div>
<img id="outhelp" style="margin-top: -45px;display: inline;" src="images/goback.png" onclick="showHelp(this.id);" /></i>
</div>
<div style="padding-right:5px;padding-left:5px;">
    
<p class="item1">How does this app work?</p>    
<p>When you press the "Shuffle Cards" button all the 78 cards are 100% randomly shuffled seven times. It means there are no rules controling how the cards are mixed or which of them will appear on the screen. The deck isn't cut and the cards are drew from the top after the seventh shuffle.</p>
    
<p class="item2">What is a spread?</p>    
<p>It's simply the way you read the cards. A three cards spread generally shows the past, present and the future. A five cards spread generally shows the past, recent past, present, near future, and the future. To switch between these two spreads, click on the button <img src="images/menu.png" style="display: inline;" /> in the bottom right corner. </p>
    
<p class="item3">Can I ask the same question twice?</p>    
<p>You shouldn't ask the same thing before at least 30 days, otherwise, you could end up receiving answers that don't translate the real situation but only tell you what you want to hear.</p>
    
<p class="item1">Can I ask yes or no questions?</p>
<p>It depends on how good you are in interpreting the cards. You could also try using the classic "upright = yes, reversed = no" method although there are no guarantees this really works. </p>
</div>

